# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Dataset
animal_dataset/

# Model weights
*.h5
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

#others
*.keras
